*{
    position: absolute;
    position: relative;
    justify-content: center;
    grid-template-rows: ;
    position: fixed;
    text-align: start;
    margin: 20px;
    justify-content: space-between;
    margin-bottom: 20px;
    z-index: 100;
    outline: none;
    overflow: hidden;
    border-radius: 100%;
    bottom: 0%;
    cursor:progress;
    text-decoration: none;
}
@media screen and (max-width: 690px) {

}
